bcrypt
captcha
certifi
cffi
chardet
cssselect
Django==2.2.17
django-clear-cache==0.3
django-crispy-forms==1.7.2
django-debug-toolbar==3.1.1
django-environ==0.4.5
django-extensions==2.1.4
django-ranged-response==0.2.0
django-simple-captcha==0.5.9
django-user-agents==0.4.0
environ
idna
lxml
mwclient
oauthlib
phpserialize
Pillow
pkg-resources
psycopg2
psycopg2-binary
pymemcache
PyYAML
requests
requests-oauthlib
user-agents
Werkzeug