bcrypt==5.*
captcha==0.7.*
Django==3.*
django-crispy-forms==1.*
django-environ==0.12.*
django-extensions==3.*
django-simple-captcha==0.5.*
django-user-agents==0.4.*
lxml[cssselect]==6.*
phpserialize==1.*
psycopg2==2.*
pymemcache==4.*
PyYAML==6.*
requests[use_chardet_on_py3]==2.*
