/*
DECLARE FIX COLOR CODES FOR CORPORATE DESIGN
*/
:root {
    --primary: var(--saarblau);
    --primary-invert: #ffd699;
    --primary-hover: #1b3b6c;
    --primary-light: #31486a;
    --primary-light-hover: #3d506d;

    --secondary: #d9d9d9;
    --secondary-font: #000;
    --secondary-hover: #a6a6a6;
    --secondary-placeholder: #868686;
    --secondary-light: #eeeeee;

    --success-green: #1d873c;
    --error-red: #D70000;

    --saarblau: #002966;
    --saar-stadtgrau: #8392B2;
    --saar-stadtgrau-75p: #b4b8c1;
}