/*

    THIS IS THE STYLESHEET FOR landing_page.html only

*/

.float-left {
    float: left !important;
}

.float-right {
    float: right !important;
}

.inline-block {
    display: inline-block !important;
}

.gp-content {
    max-width: 980px;
    margin-left: auto;
    margin-right: auto;
}

.gp-container {
    margin-top: 16px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

.gp-display-container {
    position: relative;
}

/* 
    Landing Page Dispatches 
*/

.landing-page-dispatch {
    --border-strength: 5px;
    margin: 1em 0 2em 0;
    font-weight: 700;
}

.landing-page-dispatch h3 {
    color: var(--primary);
    font-weight: 700;
    text-align: center;
}

.landing-page-dispatch p {
    margin: 1.5em;
}

.landing-page-dispatch-information {
    background-color: var(--secondary-light);
    border: var(--secondary-placeholder) var(--border-strength) solid;
}

.block {
    display: block;
}

.hidden {
    display: none;
}

/*
    Landing Page Slider
*/

#landing-page-carousel-container {
    max-width: 676px;
}

.carousel-control {
    font-size: 18px;
    /* display-bottommiddle - position on center of the bottom */
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 0%);
    padding: 0.01em 16px;
    width: 100%;
    /* end display-bottommiddle */
    /* center */
    text-align: center;
    display: inline-block;
    /* end center */
}

.carousel-container:hover {
    display: block;
    display: inline-block;
    position: relative;
}

.carousel-control-item {
    color: white;
    cursor: pointer;
}

.carousel-dot {
    background-color: transparent;
    border: 1px solid var(--secondary-light);
    border-radius: 50%;
    cursor: pointer;
    height: 13px;
    width: 13px;
    padding: 0;
    font-size: 18px;
}

.carousel-active,
.carousel-dot:hover {
    color: var(--primary);
    background-color: white;
}

.carousel-image {
    width: 100%;
}