/**

    THIS IS THE STYLESHEET FILE FOR unsupported_browser.html
    ALL CHANGES SHOULD GO HERE!

**/


@import 'color_schema.css';

*{
    font-family:Arial,Helvetica,"Sans Serif" !important;
}

html{
    min-height: 100%;
    font-family: sans-serif;
}

body{
    margin: 0;
    min-height: 100%;
    background: -ms-linear-gradient(top, white 0%, #e2e2e2 100%); /*--secondary*/
    background-image: linear-gradient (white, var(--secondary));
}

h1{
    border-bottom: 2px groove var(--primary);
}

.content{
    display: block;
    padding: 10vh 30vw 10vh 30vw;
    text-align: justify;
}

footer {
    border-top: 5px solid var(--primary);
    background-color: white;
    display: flex;
    justify-content: center;
}

.footer-navigation {
    margin: 0;
    padding: 0;
}

.footer-navigation>ul {
    table-layout: unset;
}

.footer-navigation>ul>li {
    display: block;
    float: left;
    padding: 1rem;
}

.footer-navigation>ul>li>a {
    text-decoration: none;
}

.footer-navigation>ul>li:hover {
    color: var(--secondary-font);
    background-color: var(--secondary-light);
}
