{% extends 'base.html' %}
{% load i18n static %}

{% block head %}
<link rel="stylesheet" href="{% static 'useroperations/bootstrap-5.0.2-dist/css/bootstrap.min.css' %}" type="text/css" />
<script src="{% static 'useroperations/bootstrap-5.0.2-dist/js/bootstrap.bundle.min.js' %}"></script>

<link rel="stylesheet" type="text/css" href="{% static 'useroperations/css/app_article_styling.css' %}" media="all" />

{% endblock %}

{% block body %}
    <div id="article_content">
        {% include 'app_article_content.html' %}
    </div>
{% endblock %}



